*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.Grid{
    width: 100%;

    display: grid;
    grid-gap: 20px;

    grid-template-columns: 5fr 4fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 0.8fr;

    grid-template-areas:    "header header header"
                            "articulo articulo menu"
                            "widget section1 section1"
                            "footer footer footer" ;


}

.Grid .Cabecera{
    padding: 30px;

    font-size: 3rem;

    grid-area: header;
}

.Grid .Articulo{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.5em;

    grid-area: articulo;
}

.Grid .Widget{
    font-size: 100%;
    grid-area: widget;
}

.Grid .Componente{

    margin-left: 2%;
    margin-right: 2%;
    grid-area: section1;
}


.Grid .Menu{
    font-weight: 700;
    font-size: 1em;
    grid-area: menu;

}

.Menu div{

    height: 100px;
    width: 100px;
    display: flex;
    float: right;
    margin: 25px 0px;
    box-shadow: 10px 10px rgb(143, 138, 138);
    transition: all 0.5s;
}

.Menu div:hover{
    width: 120px;
    transition: all 0.5s;
}

.Menu .enlace{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.Grid footer{
    height: 100%;

    background: rgba(0, 0, 0, 0.671);
    color: white;

    display: flex;
    flex-direction: row;
    text-align: center;

    font-size: 25px;

    grid-area: footer;
}


footer .enlace{
    padding: 50px 100px;
}

footer .enlace:hover{
    font-size: 30px;
    transition: 0.3s;
    cursor: pointer;

}

footer a, footer a:hover, footer a.active{
    color:rgb(255, 255, 255);
}

@media screen and (max-width: 980px){

    .Grid{

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 3fr 3fr 2fr 0.8fr;

        grid-template-areas:    "header"
                                "menu"
                                "articulo"
                                "widget" 
                                "section1 "
                                "footer" ;


        }

    .Grid  .Menu div{
        height: 100px;
        width: 100px;
        flex-direction: row;
        float: left;
        margin: -30px 20px;
        box-shadow: 10px 10px rgb(143, 138, 138) ;
        z-index: -1;
    }

    .Menu div:hover{
        height: 130px;
    }



}
