:root{
    --colorPrincipal: #7dda52;
    --colorPrincipalFont: white;
    --tamañoAltura: 40px;
}

.Grid .Cabecera{
    background: var(--colorPrincipal);
    color: var(--colorPrincipalFont);
}

.Grid .Menu a div{
    background: var(--colorPrincipal);
}

.Grid .Articulo p{
    text-align: justify;
}

.Grid .Articulo img{
    width: 400px;
    height: 200px;
}

.Grid .Articulo{
    text-align: center;
}

.Grid .Widget{
    background-color: var(--colorPrincipal);
    color: var(--colorPrincipalFont);
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Grid .Componente{
    margin-top: 5%;
}

table{
    margin: 10px ;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

}

table tbody tr td, th{
    border: 1px solid white;
    width: 90px;
    height: 30px;
}

#CE, #CC{
    height: 200px;
    width: 200px;
}