:root{
    --colorPrincipal: #FF5757;
    --colorPrincipalFont: white;
    --tamañoAltura: 40px;
}

.Grid .Cabecera{
    background: var(--colorPrincipal);
    color: var(--colorPrincipalFont);
}

.Grid .Articulo p{
    text-align: justify;
}

.Grid .Articulo{
    text-align: center;
}

.Grid .Widget{
    background-color: var(--colorPrincipal);
    color: var(--colorPrincipalFont);
}

.Grid .Componente{
    margin-top: 5%;
}


table{

    margin: 5% ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    border-collapse: collapse;
}

table th, table td{
    border: 1px solid white;
    padding: 5px 5px;
}


a{
    font-size: 0.8em;
}

button, select, input{
    
    width: 80px;
    height: var(--tamañoAltura);
    padding-left: 10px;
    padding-right: 10px;    
    border: var(--colorPrincipal);
    border-radius: 5% 5%;

    background-color: var(--colorPrincipal);
    color: var(--colorPrincipalFont);

    font: 17px bold ;    

}

select:hover,
input:hover{
    width: 120px;
    background-color: #b14b4b;
    transition: 0.5s;
}

button{
    width: 110px;
    margin: 20px 20px 20px 100px;

}

button:hover{
    width: 160px;
    background-color: #b14b4b;
    transition: 0.5s;
}


