:root{
    --colorUno: red;
    --colorDos: black;
    --colorTres: yellow;
    --colorTol: gold;
    --colorBorde: rgb(245, 233, 179); 
    --colorResistencia: rgb(248, 228, 136);
}

*{
    margin: 0;
    padding: 0;
}

.DibujoResistencia{
    width: 200px;
    height: 100px;
    margin-left: 120px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);

    display: flex;
    align-items: center;
}

.extremo{
    width: 30%;
    height: 80%;
    background: var(--colorResistencia);
    /*border: 3px solid var(--colorBorde);*/
    border-radius: 25% ;
    display: flex;
    justify-content: center;
}

.cuerpo{
    width: 70%;
    height: 50%;

    background: var(--colorResistencia);
/*    border-top: solid var(--colorBorde);
    border-bottom: solid var(--colorBorde);*/

    display: flex;
    flex-direction: row;
}

.banda{
    width: 15px;
    height: 100%;

}

.cuerpo .banda{
    border-left: 20px solid var(--colorResistencia);
}


.uno{
    background: var(--colorUno);
}

.dos{
    background: var(--colorDos);
}

.tres{
    background: var(--colorTres);
}

.cuatro{
    background: var(--colorTol);
}

