<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Descripcion de la página-->
    <meta name="description" content="Obtener el código de capacitores">
    <meta name="keywords" content="calculadora codigo capacitores">
    <!-- Enlaces para google-->
    <meta name="google-site-verification" content="qwTOy1Hu8JtD-0iGqErkCtURiOHYDot_jH_L-xgeoUQ" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7889753153809847"
    crossorigin="anonymous"></script>
    <!-- Referencias a archivos-->
    <link rel="icon" href="../img/IconoPes.png">
    <link rel="stylesheet" href="../css/estilosGenerales.css">
    <link rel="stylesheet" href="../css/estilosCódigoCapacitores.css">
    <!--Referencia a los iconos-->
    <script src="https://kit.fontawesome.com/3d91c88c19.js" crossorigin="anonymous"></script>

    <title>Calculadora Código Capacitores</title>

</head>
<body>
    <div class="Grid">
        <header class="Cabecera"> 
            <h1>Código Capacitores </h1>
        </header>

        <article class="Articulo">
            <p>
                Los condensadores o capacitores son elementos eléctricos pasivos, 
                que son capaces de almacenar energía en forma de campo eléctrico. 
                En el mercado se venden distintos tipos de condensadores en los 
                que destacan: los electrolitos, los de poliéster, los cerámicos. 
                <br><br>     
                Los condensadores o capacitores tienen una variedad de códigos y 
                marcas que brindan parámetros sobre el: valor, tolerancia, voltaje
                máximo, etc. Para los capacitores electrolictos vienen marcado el 
                valor explicitamente, para los capacitores ceramicos se puede 
                encontrar la siguiente notación:
                <br><br>  
                En este código, los dos primeros dígitos proporcionan el valor de 
                la capacitancia, mientras que el tercero proporciona el multiplicador 
                o número de ceros que debe añadirse para obtener la capacitancia, 
                las unidades de este valor está en picoFaradios [pF]. Además este 
                puede tener inmediatamente después una letra que expresa la 
                tolerancia. Y al principio de este también puede tener un símbolo 
                que indica el voltaje máximo que soporta el dispositivo. 

            </p>

        </article>

        
        <!--Menu de navegación -->
        <nav class="Menu">
            <a href="CódigoColores.html">
                <div class="enlace">
                    <p>Resistencia</p>
                </div>
            </a>

            <a href="">
                <div class="enlace">
                    <p>Capacitor</p>
                </div>
            </a>
        </nav>

        <div class="Componente">

        </div>

        <div class="Widget">

        </div>



        <!--
        <aside class="Menu">Menu</aside>
        -->

        <footer class="PiePagina">
            
            <div class="enlace">
                <a href="https://github.com/jorale2133/ComponentesEl-ctricosComerciales" target="_blank">
                    <i class="fa-brands fa-github"></i>
                    <p>Github</p>                    
                </a>

            </div>

            <div class="enlace">
                <a href="https://es.wikipedia.org/wiki/Resistencia_el%C3%A9ctrica" target="_blank">
                    <i class="fa-brands fa-wikipedia-w"></i>
                    <p>Referencia</p>
                </a>

            </div>

        
        </footer>


    </div>


</body>
</html>