<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Descripcion de la página-->
    <meta name="description" content="Obtener el código de capacitores">
    <meta name="keywords" content="calculadora codigo capacitores">
    <!-- Enlaces para google-->
    <meta name="google-site-verification" content="qwTOy1Hu8JtD-0iGqErkCtURiOHYDot_jH_L-xgeoUQ" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7889753153809847"
    crossorigin="anonymous"></script>
    <!-- Referencias a archivos-->
    <link rel="icon" href="../img/IconoPes.png">
    <link rel="stylesheet" href="../css/estilosGenerales.css">
    <link rel="stylesheet" href="../css/estilosCapacitores.css">
    <link rel="stylesheet" href="../css/esiloResistencia.css">
    <!--Referencia a los iconos-->
    <script src="https://kit.fontawesome.com/3d91c88c19.js" crossorigin="anonymous"></script>

    <title>Calculadora Código Capacitores</title>

</head>
<body>
    <div class="Grid">
        <header class="Cabecera"> Código Capacitores </header>

        <article class="Articulo">
            Aqui va el contenido
        </article>

        <div class="Componente">

        </div>

        <div class="Widget">

        </div>



        <!--
        <aside class="Menu">Menu</aside>
        -->

        <footer class="PiePagina">
            
            <div class="enlace">
                <a href="https://github.com/jorale2133/ComponentesEl-ctricosComerciales" target="_blank">
                    <i class="fa-brands fa-github"></i>
                    <p>Github</p>                    
                </a>

            </div>

            <div class="enlace">
                <a href="https://es.wikipedia.org/wiki/Resistencia_el%C3%A9ctrica" target="_blank">
                    <i class="fa-brands fa-wikipedia-w"></i>
                    <p>Referencia</p>
                </a>

            </div>

        
        </footer>


    </div>


</body>
</html>