<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Obtener el código de colores de las resistencias">
    <meta name="keywords" content="calculadora codigo colores resistencia">

    <meta name="google-site-verification" content="qwTOy1Hu8JtD-0iGqErkCtURiOHYDot_jH_L-xgeoUQ" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7889753153809847"
    crossorigin="anonymous"></script>

    <link rel="icon" href="../img/IconoPes.png">
    <link rel="stylesheet" href="../css/estilosGenerales.css">
    <link rel="stylesheet" href="../css/estilosCodigoColores.css">
    <link rel="stylesheet" href="../css/estiloResistencia.css">

    <title>Calculadora Código de Colores</title>

    
    <script src="https://kit.fontawesome.com/3d91c88c19.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="Grid">
<!-- Cabacera -->
        <header class="Cabecera">
            <h1>Código de colores</h1>
        </header>

<!-- Contenido de la página web-->

        <!-- Contenido -->
            <article class="Articulo">
                <p>
                    Se denomina resistencia o resistor al componente 
                    electrico que oposición oposición al flujo de 
                    corriente eléctrica a través de un conductor. Estas 
                    resistencias las podemos encontrar comercialmente, 
                    para conocer el valor de estas resistencias se usa 
                    el código de colores.

                    <br><br>

                    El código de colores, en las resistencias, nos ayuda a identicar el valor 
                    de las resistencias. Las primeras dos bandas 
                    establecen el valor del resistor. La tercera banda 
                    es el multiplicador, esta indicara los ceros al 
                    final. La cuarta banda indica la tolerancia. En la 
                    siguiente tabla se encuentra el valor de cada color. 

                    <br><br>

                    La corriente máxima y diferencia de potencial máxima   
                    en una resistencia viene condicionada por la máxima 
                    potencia que pueda disipar su cuerpo. Esta potencia 
                    se puede identificar visualmente a partir del 
                    diámetro sin que sea necesaria otra indicación. Los 
                    valores más comunes son 0.25 W, 0.5 W y 1 W. 
                    <br><br>
                    En la sección posterior de esta página se presenta 
                    una calculadora para obtener las resistencias. 
                    <br><br>
                    
                </p>

                <img src="../img/TablaColoresResistencias.png" alt="Tabla Código Colores">
                <br>
                <a href="https://kolwidi.com/blogs/blog-kolwidi/codigo-de-colores-de-resistencias-electricas">Tabla Colores</a>

            </article>

            <!--Menu de navegación -->
            <nav class="Menu">
                <a href="">
                    <div class="enlace">
                        <p>Resistencia</p>
                    </div>
                </a>

                <a href="./CódigoCapacitores.html">
                    <div class="enlace">
                        <p>Capacitor</p>
                    </div>
                </a>
            </nav>

        <!-- Tabla de resistencias  -->            
            <table class="Widget">
                <thead>
                    <th colspan="7">Resistencias Comerciales</th>
                </thead>    

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>10</td>
                        <td>100</td>
                        <td>1K</td>
                        <td>10K</td>
                        <td>100K</td>                    
                        <td>1M</td>

                    </tr>

                    <tr>
                        <td>1.2</td>
                        <td>12</td>
                        <td>120</td>
                        <td>1.2K</td>
                        <td>12K</td>
                        <td>120K</td>                    
                        <td>2M</td>
                    </tr>

                    <tr>
                        <td>1.5</td>
                        <td>15</td>
                        <td>150</td>
                        <td>1.5K</td>
                        <td>15K</td>
                        <td>150K</td>                    
                        <td>1.5M</td>
                    </tr>

                    <tr>
                        <td>1.8</td>
                        <td>18</td>
                        <td>180</td>
                        <td>1.8K</td>
                        <td>18K</td>
                        <td>180K</td>                    
                        <td>1.8M</td>
                    </tr>

                    <tr>
                        <td>2.2</td>
                        <td>22</td>
                        <td>220</td>
                        <td>2.2K</td>
                        <td>22K</td>
                        <td>220K</td>                    
                        <td>2.2M</td>
                    </tr>
                    
                    <tr>
                        <td>2.7</td>
                        <td>27</td>
                        <td>270</td>
                        <td>2.7K</td>
                        <td>27K</td>
                        <td>270K</td>                    
                        <td>2.7M</td>

                    </tr>

                    <tr>
                        <td>3.3</td>
                        <td>33</td>
                        <td>330</td>
                        <td>3.3K</td>
                        <td>33K</td>
                        <td>330K</td>                    
                        <td>3.3M</td>
                    </tr>

                    <tr>
                        <td>3.9</td>
                        <td>39</td>
                        <td>390</td>
                        <td>3.9K</td>
                        <td>39K</td>
                        <td>390K</td>                    
                        <td>3.9M</td>
                    </tr>

                    <tr>
                        <td>4.7</td>
                        <td>47</td>
                        <td>470</td>
                        <td>4.7K</td>
                        <td>47K</td>
                        <td>470K</td>                    
                        <td>4.7M</td>
                    </tr>

                    <tr>
                        <td>5.6</td>
                        <td>56</td>
                        <td>560</td>
                        <td>5.6K</td>
                        <td>56K</td>
                        <td>560K</td>                    
                        <td>5.6M</td>
                    </tr>

                    <tr>
                        <td>6.8</td>
                        <td>68</td>
                        <td>680</td>
                        <td>6.8K</td>
                        <td>68K</td>
                        <td>680K</td>                    
                        <td>6.8M</td>

                    </tr>

                    <tr>
                        <td>8.2</td>
                        <td>82</td>
                        <td>820</td>
                        <td>8.2K</td>
                        <td>82K</td>
                        <td>820K</td>                    
                        <td>8.2M</td>
                    </tr>


                    <tr>
                        <td>9.1</td>
                        <td>91</td>
                        <td>910</td>
                        <td>9.1K</td>
                        <td>91K</td>
                        <td>910K</td>                    
                        <td>9.1M</td>
                    </tr>


                </tbody>
            </table>

        <div class="Componente">

            <label for=""> <strong>Resistencia:</strong> </label>
            <input type="number" name="valRes" id="valRes">
            
            <!-- inputs para la unidades-->
            <select name="unidades" id="unidades">
                <option value=""> Sin unidades</option>
                <option value="K"> K </option>
                <option value="M"> M </option>
            </select>

            <!-- inputs para la tolerancias-->    
            <select name="tolerancias" id="tolerancias">
                <option value="0.05%">  0.05%   </option>
                <option value="0.10%">  0.10%   </option>
                <option value="0.25%">  0.25%   </option>
                <option value="0.5%">   0.5%    </option>
                <option value="1%">     1%      </option>
                <option value="2%">     2%      </option>
                <option value="5%">     5%      </option>
                <option value="10%">    10%     </option>
            </select>
            <br>

            <button id="obtenerCodigo">Obtener código de colores</button>
            <br>

            <label for=""> <strong>Código de <br>Coloreres:</strong> </label>
            <select name="primeraBanda" id="primeraBanda">
                <option value="black"> negro </option>
                <option value="brown"> cafe </option>
                <option value="red"> rojo </option>
                <option value="orange"> naranja </option>
                <option value="yellow"> amarillo </option>
                <option value="green"> verde </option>
                <option value="blue"> azul </option>
                <option value="violet"> morado </option>
                <option value="grey"> gris </option>
                <option value="white"> blanco </option>
            </select>

            <select name="segundaBanda" id="segundaBanda">
                <option value="black"> negro </option>
                <option value="brown"> cafe </option>
                <option value="red"> rojo </option>
                <option value="orange"> naranja </option>
                <option value="yellow"> amarillo </option>
                <option value="green"> verde </option>
                <option value="blue"> azul </option>
                <option value="violet"> morado </option>
                <option value="grey"> gris </option>
                <option value="white"> blanco </option>
            </select>
            
            <select name="terceraBanda" id="terceraBanda">
                <option value="black"> negro </option>
                <option value="brown"> cafe </option>
                <option value="red"> rojo </option>
                <option value="orange"> naranja </option>
                <option value="yellow"> amarillo </option>
                <option value="green"> verde </option>
                <option value="blue"> azul </option>
                <option value="violet"> morado </option>
                <option value="grey"> gris </option>
                <option value="white"> blanco </option>
            </select>

            <select name="tolBanda" id="tolBanda">
                <option value="brown"> cafe </option>
                <option value="red"> rojo </option>
                <option value="green"> verde </option>
                <option value="blue"> azul </option>
                <option value="violet"> morado </option>
                <option value="gray"> gris </option>
                <option value="silver"> silver </option>
                <option value="gold"> gold </option>
            </select>
            
            <br>
            <button id="obtenerValor">Obtener valor</button>

            <!-- Dibijo de la resistencia-->

            <div class="DibujoResistencia">        
                <div class="extremo">
                    <div class="banda uno"></div>            
                </div>
    
                <div class="cuerpo">
                    <div class="banda dos"></div>
                    <div class="banda tres"></div>
                </div>
    
                <div class="extremo">
                    <div class="banda cuatro"></div>
                </div>
            </div>
            <p id="infoRes"></p>
        </div>

        <!--
        <aside class="Menu">Menu</aside>
        -->

        <footer class="PiePagina">
            
            <div class="enlace">
                <a href="https://github.com/jorale2133/ComponentesEl-ctricosComerciales" target="_blank">
                    <i class="fa-brands fa-github"></i>
                    <p>Github</p>                    
                </a>

            </div>

            <div class="enlace">
                <a href="https://es.wikipedia.org/wiki/Resistencia_el%C3%A9ctrica" target="_blank">
                    <i class="fa-brands fa-wikipedia-w"></i>
                    <p>Referencia</p>
                </a>

            </div>

        
        </footer>

    </div>
    
    <script src="../js/CódigoColores.js" type="module"></script>
    <!--<script src="js/Resistencia.js"></script>-->

</body>
</html>